/* Common styles for both index and portfolio pages */
body {
    font-family: "Gill Sans", sans-serif;
    font-size: 14pt;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
    color: rgb(0, 94, 162);
    text-decoration: underline;
}

h2 {
    margin-top: 7px;
    margin-bottom: 3px;
}